.com-avatar {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}