$BODY-COLOR: #323232;
$DISABLED-COLOR: #C5C5C5; // 禁用文本颜色

$T1: 18px;
$T2: 14px;
$T3: 12px;


$MAIN-COLOR: #387AF6;
$MAIN-COLOR-LIGHT: rgba(56, 122, 246, .7);
$SUCCESS-COLOR: #8CC74F;
$WARN-COLOR: #FFC174;
$ERROR-COLOR: #FF6061;

$SPILT-LINE-COLOR: #EFEFEF; // 分隔线颜色

$HEADER-HEIGHT: 65px;
