.mine-popper {
    .mine-popper-link {
        cursor: pointer;
        user-select: none;
    }
    .mine-popper-tooltip {
        display: none;
        color: #323232;
        padding: 16px;
        font-size: 12px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
    }
    .mine-popper-tooltip[data-show] {
        display: block;
    }
    .mine-popper-arrow, .mine-popper-arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: -1;
    }
    .mine-popper-arrow::before {
        content: '';
        transform: rotate(45deg);
        background: #FFFFFF;
    }
    .mine-popper-tooltip[data-popper-placement^='top'] > .mine-popper-arrow {
        bottom: -4px;
    }
    .mine-popper-tooltip[data-popper-placement^='bottom'] > .mine-popper-arrow {
        top: -4px;
    }
    .mine-popper-tooltip[data-popper-placement^='left'] > .mine-popper-arrow {
        right: -4px;
    }
    .mine-popper-tooltip[data-popper-placement^='right'] > .mine-popper-arrow {
        left: -4px;
    }
}