@import '@/common/css/variable.scss';

.com-menu {

    .com-menu-li {
        padding: 16px;
        text-align: left;

        a {
            text-decoration: none;
            color: $BODY-COLOR;
            width: 100%;
            height: 100%;
            display: block;
            transition: color .3s;
        }

        &:hover {
            background-color: rgba(228, 251, 255, .6);
            a {
                color: #2accf3;
            }
        }

        &.is-active {
            background-color: rgba(228, 251, 255, .6);
            a {
                color: #2accf3;
            }  
        }
    }
}