.com-section {
    position: relative;
    overflow: hidden;
    height: 100px;
    user-select: none;
    .com-section-view {
        position: absolute;
    }
    .com-section-scrollY {
        position: absolute;
        right: 2px;
        width: 7px;
        border-radius: 7px;
        background-color:rgba(151, 168, 190, .5);
        &:hover {
            background-color: rgba(151, 168, 190, 1);
        }
        cursor: pointer;
    }
}